footer
  .acerca-de
    h2 Servicios
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  aside
    .sociales
      h2 Sigueme
      a(href='#')
        span.icon-facebook3
      a(href='#')
        span.icon-github4
      a(href='#')
        span.icon-twitter3
      p
        br
        a(rel='license', href='http://creativecommons.org/licenses/by-sa/4.0/')
          img(alt='Licencia de Creative Commons', style='border-width:0', src='http://i.creativecommons.org/l/by-sa/4.0/80x15.png')
        br
        | Este obra está bajo una
        a(rel='license', href='http://creativecommons.org/licenses/by-sa/4.0/') licencia de Creative Commons Reconocimiento-CompartirIgual 4.0 Internacional
        | .
