header
  .logo
    figure
      img(src='imagenes/logow.png', alt='Brian Marriaga')
  .titulo-logo Brian Marriaga
  nav
    a(href='#') Inicio
    a(href='#') Portafolio
    a(href='#') Biografia
    a(href='#') Blog
    a(href='#') Contacto
