//output:index.html, pretty:true
<!DOCTYPE html>
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1')
    script(src='js/prefixfree.min.js', type='text/javascript')
    link(href='http://fonts.googleapis.com/css?family=Khand|Open+Sans+Condensed:300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/estilos.min.css')
    link(rel='stylesheet', href='css/fonts.min.css')
    link(rel='icon', type='image/png', href='imagenes/ico.png')
    title Brian Marriaga
  body
    include template/header.jade
    section.color2.maximo-h
      .main
        .slides
          .img-slides
            h3 Título
            img(src='http://placehold.it/1600x900', alt='')
          .img-slides
            h3 Título
            img(src='http://placehold.it/1600x900/ffffff/000000', alt='')
          .img-slides
            h3 Título
            img(src='http://placehold.it/1600x900/ff0000/000000', alt='')
    section
      article.art-txt
        h2 Diseño Profesional para Profesionales
        p
          include template/lorem.jade
      article
        figure
          img.trans-1(src='imagenes/w-p1.png', alt='Atom')
          img.trans-4(src='imagenes/MacBook-Gold.png', alt='MacBook')
    section.reverse.color2
      article.art-txt
        h2 Diseño Profesional para Profesionales
        p
          include template/lorem.jade
      article.marg-ri
        figure
          img.img-2.trans-5(src='imagenes/aips.png', alt='Ai and Ps')
          img.img-2.trans-2(src='imagenes/logo3d-new.png', alt='Logo 3D')
    section
      article.art-txt
        h2 Diseño Profesional para Profesionales
        p
          include template/lorem.jade
        a(href='#') Link de prueba
      article
        figure
          img.trans-3(src='imagenes/iphone-black.png', alt='iPhone')
    section.color2.iconos
      .ico-txt
        span.icon-rocket
        p
          include template/lorem.jade
      .ico-txt
        span.icon-coin-dollar
        p
          include template/lorem.jade
        a(href='#') Link de prueba
      .ico-txt
        span.icon-clock
        p
          include template/lorem.jade
    include template/footer.jade
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='js/jquery.slides.js', type='text/javascript')
    script(src='js/js.js', type='text/javascript')            
