footer
  background-color: black
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: flex-start
  padding-bottom: 3em
  font-family: 'Open Sans Condensed'
  padding-top: 3em

.acerca-de
  padding: 0 3em 0 1em
  font-size: .9rem
  width: 50em

.sociales
  font-size: .9em
  text-align: center
  width: 20em
    span
      font-size: 3em
      padding: 0 .4em
      line-height: 1.2em
      transition: .3s
        &:hover
          color: #274E77
    a
      text-decoration: none
      color: #c1c1c1

    p
      font-size: .8em
