header
  width: 100%
  display: flex
  flex-direction: column
  text-align: center

.logo figure img
  width: 55px
  height: 85px
  margin-top: 30px

.titulo-logo
  text-align: center
  color: #fff
  font-size: 1.7em
  letter-spacing: 2px
  text-transform: uppercase

nav
  flex-wrap: wrap
  text-transform: uppercase
  margin-bottom: 1.3em
    a
      text-decoration: none
      padding: 5px 15px
      color: color1
      transition: .2s
      border-bottom: 1px solid transparent
      &:hover
          color: color2
          border-bottom: 1px solid #274E77
