vendor(prop, arguments)
  -webkit-{prop} arguments
  -moz-{prop} arguments
  -ms-{prop} arguments
  -o-{prop} arguments
  {prop} arguments

border-radius()
  vendor(border-radius, arguments)

box-shadow()
  vendor(box-shadow, arguments)

filter()
  vendor(filter, arguments)

transform()
    vendor(transform, arguments)
